main.json
{
  "meta": {
    "instanceId": "local-n8n-instance"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jenkins-failure-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-jenkins-failure",
      "name": "Jenkins Failure Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "jenkins-failure-webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "jobName",
              "value": "={{$json[\"job_name\"]}}"
            },
            {
              "name": "buildStatus",
              "value": "={{$json[\"build_status\"]}}"
            },
            {
              "name": "buildUrl",
              "value": "={{$json[\"build_url\"]}}"
            },
            {
              "name": "errorLog",
              "value": "={{$json[\"error_log\"]}}"
            },
            {
              "name": "buildNumber",
              "value": "={{$json[\"build_number\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-jenkins-data",
      "name": "Extract Jenkins Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "create",
        "model": "gpt-3.5-turbo",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a DevOps expert. Analyze CI/CD pipeline errors and provide clear explanations with actionable solutions."
            },
            {
              "role": "user",
              "content": "Here is a CI/CD pipeline error log from job '{{$json[\"jobName\"]}}': \n\n{{$json[\"errorLog\"]}}\n\nPlease explain the issue and suggest a fix. Keep the response concise but informative."
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 500
        }
      },
      "id": "openai-analysis",
      "name": "OpenAI Error Analysis",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "aiExplanation",
              "value": "={{$json[\"choices\"][0][\"message\"][\"content\"]}}"
            },
            {
              "name": "jobName",
              "value": "={{$('Extract Jenkins Data').item.json[\"jobName\"]}}"
            },
            {
              "name": "buildStatus",
              "value": "={{$('Extract Jenkins Data').item.json[\"buildStatus\"]}}"
            },
            {
              "name": "buildUrl",
              "value": "={{$('Extract Jenkins Data').item.json[\"buildUrl\"]}}"
            },
            {
              "name": "buildNumber",
              "value": "={{$('Extract Jenkins Data').item.json[\"buildNumber\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-telegram-message",
      "name": "Prepare Telegram Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "🚨 **CI/CD Pipeline Failure Alert** 🚨\n\n**Job:** `{{$json[\"jobName\"]}}`\n**Status:** `{{$json[\"buildStatus\"]}}`\n**Build #:** `{{$json[\"buildNumber\"]}}`\n**Build URL:** [View Build]({{$json[\"buildUrl\"]}})\n\n**🤖 AI Analysis:**\n{{$json[\"aiExplanation\"]}}\n\n*Generated by AI-powered DevOps Assistant*",
        "additionalFields": {
          "parseMode": "Markdown",
          "disableWebPagePreview": false
        }
      },
      "id": "send-telegram-alert",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-credentials",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "status": "success",
          "message": "Jenkins failure alert processed successfully",
          "jobName": "={{$('Extract Jenkins Data').item.json[\"jobName\"]}}",
          "timestamp": "={{new Date().toISOString()}}"
        }
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        300
      ]
    }
  ],
  "connections": {
    "Jenkins Failure Webhook": {
      "main": [
        [
          {
            "node": "Extract Jenkins Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Jenkins Data": {
      "main": [
        [
          {
            "node": "OpenAI Error Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Error Analysis": {
      "main": [
        [
          {
            "node": "Prepare Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram Message": {
      "main": [
        [
          {
            "node": "Send Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram Alert": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-01T00:00:00.000Z",
      "updatedAt": "2025-01-01T00:00:00.000Z",
      "id": "cicd-alerts",
      "name": "CI/CD Alerts"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}